
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url('./data.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff; 
}


header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo {
    height: 50px;
}


nav .nav-buttons {
    display: flex;
    gap: 15px;
}


nav .nav-buttons .nav-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}


nav .nav-buttons .nav-link:hover {
    color: #000000; 
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-box {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 60px 120px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.center-box button {
    padding: 20px 40px;
    font-size: 16px;
    color: #fff;
    background-color: transparent; 
    border: 2px solid #fff; 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.center-box button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}


footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.5); /* Added background for consistency */
}


@media (max-width: 768px) {

    header {
        padding: 10px;
    }

    #logo {
        height: 40px;
    }

    nav .nav-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .center-box {
        padding: 40px 60px;
    }

    .center-box button {
        padding: 15px 30px;
        font-size: 14px;
    }
}
